@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Bricolage Grotesque");

body {
  font-family: "poppins";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
