@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Bricolage Grotesque");

body {
  font-family: "poppins";
  margin: 0;
  padding: 0;
}

.block {
  display: block;
}

.scroll-smooth {
  scroll-behavior: smooth;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}
